/* banner section */
.banner-section {
    padding: 80px 0;
}

.banner-section h1 {
    font-size: 65px;
    line-height: 90px;
    color: var(--sm-gray);
    font-family: ridley-bold;
}

.banner-section h1 span {
    color: var(--light-yellow);
}

.ling-div {
    height: 10px;
}

.line {
    height: 100%;
    background-color: var(--light-yellow);
    width: 30%;
    float: right;
}

.banner-section p {
    font-size: 20px;
    line-height: 35px;
}
/* banner section */

/* brand section */
.brand h1 {
    font-size: 30px;
}
.sm-line {
    max-width: 60%;
    height: 7px;
    float: center !important;
    margin: auto;
}
.sm-line .line {
    width: 15%;
    float: none;
    margin: auto;
}
.brand-icons {
    width: 100%;
    padding: 1rem;
}

.img-cover_div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* brand section */

/* How does it work */
.work-inner-div {
    background: #ffffff;
    border: 1px solid #f1f3f2;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.work-inner-div:hover {
    background-color: var(--light-yellow);
}
.work-inner-div:hover p {
    color: var(--main-cl);
}
.work-inner-div:hover h1 {
    color: var(--main-cl);
}
.work-inner-div .icon {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-white-cl);
    border-radius: 50%;
    margin: auto;
}
.work-inner-div p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--smooth-gray-cl);
}
.work-inner-div .icon-active {
    background-color: var(--main-cl);
}
.active-tab {
    background-color: var(--light-yellow);
}
.active-tab p {
    color: var(--main-cl);
}
/* How does it work */

/* we fouce */
.bold-heading {
    font-family: ridley-regular;
    font-weight: 600;
    color: var(--smooth-gray-cl);
}
.we_fouce p {
    font-size: 20px;
    line-height: 35px;
}
.we_fouce .heading {
    font-size: 40px;
    color: var(--light-yellow);
    font-family: ridley-regular;
    font-weight: 600;
}
.line-right .line {
    float: left;
    height: 6px;
}
.we_fouce ul li {
    margin-top: 1rem;
}
.we_fouce ul li a {
    color: var(--smooth-gray-cl);
    font-size: 19px;
}
/* we fouce */

/* What Our Customer Saying */
.what_out_customer {
    padding: 2rem;
    background-color: var(--smooth-light-white-cl);
}
.what_out_customer p {
    font-size: 20px;
    line-height: 40px;
}
/* What Our Customer Saying */

/* Our service */
.our_services .sm-cards .sm-line .line {
    height: 4px;
    width: 80%;
}
.our_services .sm-cards .bold-heading {
    font-weight: 400;
    font-size: 35px;
}
.our_services .sm-cards p {
    line-height: 35px;
}
.our_services .work-inner-div {
    height: 100%;
}
/* Our service */

/* Clueless about when and how to get your car serviced? */
.clueless {
    background-color: var(--light-yellow);
}
.clueless .bold-heading {
    color: var(--main-cl);
}
.clueless .line {
    background-color: var(--main-cl);
}
.clueless p {
    color: var(--main-cl);
}
.clueless input {
    width: 100%;
    height: 60px;
    padding: 2rem;
    border: none;
    outline: none;
}
.clueless input[type="checkbox"] {
    height: 30px;
    width: 50px;
}
.clueless input::placeholder {
    color: var(--smooth-gray-cl);
}
/* Clueless about when and how to get your car serviced? */

/* What Our Customer Saying */
.what_out_customer .users-info h4 {
    color: var(--light-yellow);
}
.what_out_customer .users-info p {
    font-size: 15px;
    color: var(--smooth-gray-cl);
}
.what_out_customer p {
    font-size: 18px;
    line-height: 40px;
    color: var(--smooth-gray-cl);
}
.what_out_customer .active-bar {
    margin-top: -80px;
}
.what_out_customer .slick-track {
    padding: 100px 0;
}
/* What Our Customer Saying */

/* select your brand popup */
.selecte_your_brand {
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--main-cl);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 999;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

.selecte_your_brand_active_tab {
    visibility: visible;
    opacity: 1;
}

.selecte_your_brand .search_div {
    width: 80%;
    height: 70px;
    border: 1px solid #c7c7c7;
    display: flex;
}
.selecte_your_brand .search_div input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    outline: none;
    border: none;
}
.search_div .icon {
    width: 80px;
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c7c7c7;
}
.selecte_your_brand .cars-div img {
    width: auto;
    height: 120px;
    margin: auto;
}
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transform: scale(0.8);
}
.selecte_your_brand p {
    font-size: 22px;
}
.single-item .slick-dots li button {
    width: 60px !important;
}
.selecte_your_brand .slick-dots {
    bottom: -93px;
}
/* select your brand popup */

/* Select Year popup */
.select_year_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(13px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
}
.select_year_popup_active {
    visibility: visible;
    opacity: 1;
}
.select_year_popup .selected_popup {
    width: 700px;
    padding: 4rem 2rem;
    background-color: var(--main-cl);
}
.select_year_popup .select_div {
    position: relative;
}
.select_year_popup .selection_div {
    width: 100%;
    height: 60px;
    border: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}
.select_year_popup .options_div {
    position: absolute;
    width: 100%;
    background-color: var(--main-cl);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.select_year_popup .options_div_active {
    visibility: visible;
    opacity: 1;
}
.select_year_popup .options_div .option {
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: var(--smooth-gray-cl);
}
.select_year_popup .options_div p {
    margin: 0;
}
.select_year_popup .selection_div p {
    margin: 0;
    font-family: ridley-medium;
    font-weight: 500;
    color: var(--smooth-gray-cl);
}
.select_year_popup .select_div select {
    width: 100%;
    outline: none;
    padding: 1rem;
    border: 1px solid #d8d8d8;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}
/* Select Year popup */

/* filter card popup component */
.filter_selected_cars {
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--main-cl);
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 999;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    overflow-x: hidden;
}
.filter_selected_cars_active {
    visibility: visible;
    opacity: 1;
}
.filter-cars-cards {
    background-color: var(--smooth-white-cl);
    height: 100%;
}
/* .filter-cars-cards .filter-cars-image-div {
    width: 100%;
    height: 230px;
} */

.filter-cars-cards .filter-cars-image-div img {
    text-align: center;
    display: flex;
    justify-content: center;
}
.filter_selected_cars .search_div {
    width: 80%;
    height: 70px;
    border: 1px solid #c7c7c7;
    display: flex;
}
.filter_selected_cars .search_div input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    outline: none;
    border: none;
}
.filter_selected_cars .icon {
    width: 80px;
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c7c7c7;
}
.filter_selected_cars .cars-div img {
    width: 200px;
    height: auto;
    margin: auto;
}
.filter_selected_cars p {
    font-size: 22px;
}
.filter_cars_close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transform: scale(0.8);
}
.filter_selected_cars h4 {
    font-weight: 600;
}
.filter_selected_cars ul li {
    font-size: 22px;
    color: var(--smooth-gray-cl);
    margin: 1rem 0;
    font-weight: 400;
}
/* filter card popup component */

/* ///////////////////////// */
.selecte_your_brand_icons {
    position: fixed;
    width: 80%;
    padding: 3rem 1rem;
    background-color: var(--main-cl);
    box-shadow: 0 0 10px 1px #e2e2e2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.selecte_your_brand_icons_active {
    visibility: visible;
    opacity: 1;
}
.selecte_your_brand_icons i {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
/* ///////////////////////// */
