.nabvar-main {
    border-bottom: 3px solid var(--light-yellow);
}

.nabvar-main img {
    cursor: pointer;
}

.top-navbar-div {
    position: relative;
}

.log_div {
    padding: 0 10px;
    background-color: var(--main-cl);
    position: absolute;
    bottom: -34px;
}

.contanct_div {
    background: #ffffff;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
}
