@media (max-width: 1700px) {
    .banner-section h1 {
        font-size: 54px;
    }
    .work-inner-div p {
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
    }
    .our_services .sm-cards .bold-heading {
        font-size: 23px;
    }
    footer .footer-heading {
        font-size: 25px;
    }
    footer p {
        font-size: 15px;
        line-height: 28px;
    }
}

@media (max-width: 1600px) {
    .banner-section h1 {
        font-size: 42px;
        line-height: normal;
    }
    .we_fouce ul li a {
        font-size: 15px;
    }
    .service-car-div h5 {
        font-size: 25px;
    }
}

@media (max-width: 1400px) {
    .email-div {
        width: 100%;
    }
    .we_fouce p {
        font-size: 15px;
        line-height: normal;
    }
    .we_fouce .heading {
        font-size: 28px;
    }
    .what_out_customer .users-info h4 {
        font-size: 18px;
    }
    .what_out_customer p {
        font-size: 16px;
    }
    .side_padding {
        padding: 0 40px;
    }
}

@media (max-width: 1300px) {
    .work-inner-div p {
        font-size: 18px;
        line-height: normal;
    }
    .banner-section h1 {
        font-size: 33px;
    }
    .about-banner {
        height: 496px;
    }
    .about-banner h1 {
        font-size: 50px;
        line-height: normal;
    }
    .about-banner h1 br {
        display: none;
    }
    .the_journey p {
        font-size: 16px;
        line-height: 35px;
    }
    .we_believe h5 {
        font-size: 22px;
        line-height: 36px;
    }
}

@media (max-width: 1200px) {
    .space_div {
        display: none;
    }
}

@media (max-width: 1100px) {
    footer .heading {
        font-size: 23px !important;
    }
    .side_padding {
        padding: 0 50px;
    }
    .request_button {
        padding: 1rem;
        font-size: 13px;
    }
    .our_services .sm-cards p {
        line-height: 29px;
    }
    .work-inner-div p {
        font-size: 15px;
    }
    .our_services .sm-cards .bold-heading {
        font-size: 17px;
    }
    .filter_selected_cars ul li {
        font-size: 13px;
    }
    .about-banner h1 {
        font-size: 39px;
    }
    .about-data p {
        font-size: 16px;
        line-height: 29px;
    }
}

@media (max-width: 1000px) {
    .left-line {
        max-width: 100%;
    }
    .left-line .line {
        float: none;
    }
}

@media (max-width: 750px) {
    .ling-div {
        display: flex;
        justify-content: center;
    }
    .banner-section h1 {
        font-size: 24px;
    }
    .work-inner-div p {
        font-size: 19px;
    }
    .bold-heading {
        font-size: 25px;
    }
    .bold-heading br {
        display: none;
    }
    .we_fouce ul li {
        list-style: none;
    }
    .we_fouce ul {
        padding: 0;
        text-align: center;
    }
    .our_services .sm-cards p {
        list-style: none;
        font-size: 15px;
    }
    .select_year_popup .selected_popup {
        width: 387px;
    }
    .contact_inner_div h4 {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .banner-section p {
        font-size: 14px;
        line-height: normal;
    }
    .banner-section {
        padding: 36px 0;
    }
    .brand h1 {
        font-size: 23px;
    }
    .bold-heading {
        font-size: 20px;
    }
    .we_fouce .heading {
        font-size: 21px;
        text-align: center;
    }
    .what_out_customer .slick-track {
        padding: 27px 0;
    }
    .side_padding {
        padding: 0 10px;
    }
    .select_year_popup .selected_popup {
        width: 96%;
        padding: 1rem;
    }
    .about-banner {
        height: 284px;
    }
    .about-banner h1 {
        font-size: 28px;
    }
    .users-info {
        display: grid !important;
        place-content: center !important;
    }
    .car-selecte-div {
        padding: 1rem;
        max-width: 100%;
        margin: auto;
        box-shadow: 0 0 10px 2px #e1e1e1;
        border-radius: 8px;
    }

    .select_year_popup {
        align-items: stretch;
    }
    .submit_button {
        padding: 1rem 1.5rem;
    }
    .work-inner-div p {
        font-size: 17px;
    }
    .bold-heading {
        font-size: 16px;
    }
    .clueless p {
        font-size: 15px;
    }
    .our_services .sm-cards p {
        font-size: 13px;
    }
    footer .footer-heading {
        font-size: 21px;
    }
    .we_fouce ul li a {
        font-size: 13px;
    }
    .we_fouce p {
        font-size: 12px;
    }
    .selecte_your_brand p {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .log_div {
        margin-left: -10px;
        position: relative;
        bottom: 0;
    }
    .car-selecte-div {
        padding: 0.5rem;
        max-width: 100%;
    }
}
